@model IEnumerable<SeleniumCrawler.Page>

<div id="collectedLinks">
    <h2>Collecting links</h2>
   @* Number of links found: @ViewBag.Link.Count <br />
    Failed links: @ViewBag.FailedTests <br />
    Elasped time: @ViewBag.ElapsedTime ms <br /><br />*@

    <table border="0">
    <tr>
        <th style="text-align:center">Name</th>
        <th style="text-align:center">Url</th>
        <th style="text-align:center">Page depth</th>
    </tr>
    </table>

@*    

        @foreach (var kvp in ViewBag.Links)
        {
            var page = kvp.Value;
            <tr>
                <td style="text-align:right">@page.LinkName</td>
                <td style="text-align:left">@page.Url.AbsoluteUri</td>
                <td style="text-align:center">@page.PageDepth</td>
            </tr>
        }
</table>*@
</div>

@*@helper PrintChildren(Page page) {
     <ul>
         @if(page.Children.> 0) {
             foreach(MyObject subItem in _object.listOfObjects) {
                 <li>
                    @_object.Title
                    @ShowSubItems(subItem)
                 </li>
             }
         }
     </ul>
 }*@