@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p></p>
     @* @using (Ajax.BeginForm("CollectLinks", "Test", new AjaxOptions { HttpMethod = "POST",
                                                                     InsertionMode = InsertionMode.Replace,
                                                                     UpdateTargetId = "collectedLinks"}))*@
    @using (Html.BeginForm("CollectLinks", "Test", FormMethod.Post))
    {
      
        @Html.RadioButton("browser", "0", false); <span> Headless </span><br />
        @Html.RadioButton("browser", "1", true); <span> Firefox </span><br />
        @Html.RadioButton("browser", "2", false); <span> Internet Explorer </span><br />
        @Html.RadioButton("browser", "3", false, new { disabled = "disabled" }); <span> Chrome </span><br /><br />
        
        <text>Restrict link collection by:</text><br />
        @Html.TextBox("depth") <text>Levels of links to follow</text><br /><br />
        @Html.TextBox("protocol") <text>Protocol (i.e. http or if multiple "http|ftp")</text><br /><br />
        @Html.TextBox("server") <text>Server name (i.e. apps.xyz.xyz)</text><br /><br />
        @Html.TextBox("domain") <text>Domain name xyz.google.xyz)</text><br /><br />
        @Html.TextBox("extension") <text>County or organisation extension (i.e xyz.xyz.com)</text><br /><br />
        @Html.TextBox("custom") <text>Custom regular expression</text><br /><br />
        @Html.TextBox("rootUrl")
        <input type="submit" value="Do IT!" />

    }

    @* To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.*@

    <div id="collectedLinks">
        
    </div>
